
meta(name="viewport" content="width=device-width, initial-scale=1.0")
link(
  href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900'
  rel='stylesheet'
)
link(
  href='https://cdn.jsdelivr.net/npm/@mdi/font@^6.0.0/css/materialdesignicons.min.css'
  rel='stylesheet'
)
script(src="https://cdn.tailwindcss.com")
script(src="//unpkg.com/alpinejs" defer)
