html(lang='fr')
  head
    block head
      include ../partials/alpinejs.head.pug
  body(style="background-color: #1e1e1e;")
    block body
      div#app(style="height:100%" x-init='init()')
        block content
    block script
      include ../partials/alpinejs.script.pug
    block post-script
